# my special
lectures/
Corpora/
cs224n2017/
cs224n2019/
Lecture 01 Introduction and Word Vectors/
Lecture 02 Word Vectors 2 and Word Senses/
Lecture 03 Word Window Classification, Neural Networks, and Matrix Calculus/
Lecture 04 Backpropagation and Computation Graphs/
Lecture 05 Linguistic Structure Dependency Parsing/
Lecture 06 The probability of a sentence Recurrent Neural Networks and Language Models/
Lecture 07 Vanishing Gradients and Fancy RNNs/
Lecture 08 Machine Translation, Seq2Seq and Attention/
Lecture 09 Practical Tips for Final Projects/
Lecture 10 Question Answering and the Default Final Project/
Lecture 11 ConvNets for NLP/
Lecture 12 Information from parts of words Subword Models/
Lecture 13 Modeling contexts of use Contextual Representations and Pretraining/
Lecture 14 Transformers and Self-Attention For Generative Models(guest lecture by Ashish Vaswani and Anna Huang)/
Lecture 15 Natural Language Generation/
Lecture 16 Reference in Language and Coreference Resolution/
Lecture 17 Multitask Learning A general model for NLP (guest lecture by Richard Socher)/
Lecture 18 Constituency Parsing and Tree Recursive Neural Networks/
Lecture 19 Safety, Bias, and Fairness (guest lecture by Margaret Mitchell)/
Lecture 20 Future of NLP + Deep Learning/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
